<head>
    <title>EI - Contato</title>
</head>
    <header>
        <div class="logo-container">
            <a routerLink="home"><img src="/assets/imagens/Logo.png" alt="logo"></a>
        </div>
        <div class="header-container">
            <img src="/assets/imagens/cart.svg" alt="">
            <a routerLink="login">Login</a>
            <a routerLink="signup"><input type="button" value="Sign Up"></a>
        </div>
    </header>
    
    <nav class="topnav">
        <a routerLink="home">Home</a>
        <a routerLink="parcerias">Parcerias</a>
        <a routerLink="quemsomos">Quem somos</a>
        <a routerLink="cursosonline">Cursos online</a>
        <a routerLink="orientacao">Orientação Acadêmica</a>
        <a routerLink="negocios">Negócios e Treinamentos</a>
        <a routerLink="contato">Contato</a>
    </nav>