<body>
    <main>
        <div id="conteudo">
            <div class="container">
                <div id="redessociais">
                    <div class="subtitle">
                        <h1>NOS SIGA NAS REDES SOCIAIS</h1>
                    </div>
                    <div class="icons">
                            <a href="https://br.linkedin.com/company/episteme-international"><img src="/assets/imagens/linkedinlogo.webp" alt="linkedin" class="linkedin1"></a>
                            <a href="https://www.instagram.com/epistemeinternational/"><img src="/assets/imagens/Instagram.svg" alt="Instagram=" class="instagram"></a>
                    </div>
                </div>
            </div>

            <div class="container">
                <div id="formulario">
                    <div class="subtitle">
                        <h1>FALE CONOSCO</h1>
                    </div>
                    <form action="https://api.staticforms.xyz/submit" method="POST" >
                        <input type="hidden" name="accessKey" value="b52d2eb6-329b-47cb-9b27-e9f74e05c8f5">
                        <input type="hidden" name="redirectTo" value="http://localhost:4200/sucesso">
                        <input type="text" name="name" id="name" placeholder="Nome">
                        <input type="text" id="email" name="email" placeholder="E-mail">
                        <input type="text" name="subject" id="name" placeholder="Assunto">
                        <textarea name="message" id="message" cols="30" rows="6" placeholder="Deixe sua mensagem aqui"></textarea>
                        <button> Enviar </button>
                         
                    </form>
                </div>


            </div>

        </div>
    </main>
</body>


