<main>
    <div class="container">
        <section class="parcerias">
            <div class="titlep">
                <h1>NOSSOS PARCEIROS</h1>
            </div>
            <div class="partners">
                <p>Ei! Você sabia que os nossos parceiros possuem vantagens nas atividades que realizamos?<br>
                Somos uma empresa parceira de todos aqueles que desejam aprender e compartilhar o conhecimento!<br>
                Nossa equipe acredita que o melhor método de crescimento é a comunicação.<br>
                Diante disso, convidamos você empresa e instituição a somar conosco e fazer parte da nossa rede de <em>Epistemers</em>
                </p>
                
            </div>
            <h2>EMPRESAS EPISTEMERS</h2><br> <!-- FALTA 2 LOGOS, NAO PIRAAAA-->
            <div class="logoparcerias">
                <img href="#" class="logos" src="/assets/imagens/cfalogowhite.png">
                <img href="#" class="logos" src="/assets/imagens/logomalala.jpeg">
                <img href="#" class="crato" src="/assets/imagens/cratowhite (1).png">
            </div>

            <div class="partners">
                <p>Contate-nos pelo e-mail: <a href ="mailto:comercial.epistemeinternational@gmail.com"> comercial.epistemeinternational@gmail.com</a> e seja bem-vindo ao time EI.</p>
            </div>
        </section>
    </div>
</main>
