<section class="container">
	<div class="item">
        <h1>Artigos</h1>
        <h2>A episteme international pode lhe ajudar com <br> seus Artigos, não perca tempo!</h2>
        <a href="https://calendly.com/epistemeinternational/artigos"><input type="button" value="Agendar"></a>
    </div>
	<div class="item">
        <h1>Projetos de Pesquisa</h1>
        <h2>A episteme international pode lhe ajudar com <br> seus projetos de pesquisa, não perca tempo!</h2>
        <a href="https://calendly.com/epistemeinternational/pesquisa"><input type="button" value="Agendar"></a>
    </div>
	<div class="item">
        <h1>Projeto de Mestrado</h1>
        <h2>A episteme international pode lhe ajudar com <br> seus projetos de Mestrado, não perca tempo!</h2>
        <a href="https://calendly.com/epistemeinternational/projeto-de-mestrado"><input type="button" value="Agendar"></a>
    </div>
</section>
    <section class="container2">
        <div class="item">
            <h1>Portfólios</h1>
            <h2>A episteme international pode lhe ajudar com <br> seus Portfólios, não perca tempo!</h2>
            <a href="https://calendly.com/epistemeinternational/portfolio"><input type="button" value="Agendar"></a>
        </div>
        <div class="item">
            <h1>Trabalho de Conclusão de Curso</h1>
            <h2>A episteme international pode lhe ajudar com <br> seu TCC, não perca tempo!</h2>
            <a href="https://calendly.com/epistemeinternational/tcc"><input type="button" value="Agendar"></a>
        </div>
    </section>
