<div class="saibamais">
    <div class="container">
        <div class="titulodocurso">
            <h1>Curso Ciências Políticas e Sociais</h1>
        </div>
    </div>
    <div class="container2">
        <div class="preco_parcela">
            <h2>10x de R$49,90</h2>
            <input type="button" value="Comprar" class="botao_comprar">
        </div>
    </div>
</div>

<div class="containerinfo">
    <div>
        <img class="image" src="/assets/imagens/cursos.jpg">
    </div>

    <div class="infocursos">
        <p>Informações Gerais sobre o curso: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero aspernatur
            cumque molestiae reprehenderit asperiores eius nihil animi, esse officia veniam minus ex fugit, quia soluta
            rem nemo eum? Molestias, sunt!<br>
            <br>Carga horária: 20 horas;<br>
            <br><strong>Assuntos abordados:</strong> <br>
            Introdução à Ciências Políticas; <br>
            Introdução à Relações Internacionais;<br>
            Mercado Economico Mundial;<br>
    </div>
</div>