.titulocurso {

  align-self: center;
  text-align: center;
  width: 70%;

}
h1 {
  color: #F3D653;
  font-size: 35px;
  font-family: 'League Spartan', sans-serif;
}
h2 {
  color: #FFFFFF;
  font-size: 35px;
  font-family: 'League Spartan', sans-serif;

}
.saibamais {
  display: flex;
  padding: 30px;
  padding-top: 50px;
  justify-content: center;
  text-align: center;
}

.preco_parcela {
  color: #FFFFFF;
  text-align: center;
  width: 100%;

}
.botao_comprar {
  height: 50px;
  width: 120px;
  margin-top: 10px;
  align-self: flex-end;
  background-color: #7ED957;
  font-weight: 500;
  font-size: 25px;
  color: #182a3a;
  border: 0;
  border-radius: 10px;
}
.botao_comprar:hover {
  background-color: #F3D653
}

.image {
  display: inline-block;
}
.container {
  display: flex;
  align-self: center;
  justify-content: center;
    width: 70%;
}

.container2{
  justify-content: right;
  width: 30%;

}
.containerinfo{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #182a3a;

}

.image{
  display: flex;
  max-width: 350px;
  height: 300px;
}

.infocursos{
  display: flex;
  width:70%;
  font-size: 20px;
  padding-left: 1%;
  padding-top: 1%;
  background-color: #FFFFFF;

}