<div class="main_saiba_mais">
    <div class="titulocurso col-sm-8">
        <h1>Curso Ciências Políticas e Sociais</h1>
    </div>
    <div class="preco_parcela col-sm-4">
        <h1>10x de R$49,90</h1>
        <input type="button" value="Comprar" class="botao_comprar">
    </div>
</div>
<div class="informacao container-fluid">
    <div class="col-sm-6">
        <img src="/images/mundo.png" class="image">
    </div>
    <div class="col-sm-6">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero aspernatur cumque molestiae reprehenderit asperiores eius nihil animi, esse officia veniam minus ex fugit, quia soluta rem nemo eum? Molestias, sunt!</p>
    </div>
</div>
<div class="containerdebaixo">
    <div class="infocurso">
        <p>OLÁ PEQUENO GAFANHOTO!</p>
    </div>

</div>
