<div class="containertexto">
    <div class="titleserv">
        <h1>NEGÓCIOS E TREINAMENTOS</h1>
    </div>

    <div class="text1">
                <p>A EI existe para fazer a conexão entre às Relações Internacionais e Ciências Sociais com a prática do mercado.<br>
                    Entende-se que diversas empresas, instituições e profissionais desconhecem o potencial do conhecimento do analista de Relações Internacionais e o do cientista social.<br>
                    Sabemos que no mundo globalizado ter o conhecimento é a chave para a realização de negócios e a introdução de novos empreendimentos.<br>
                    Diante disso, disponibilizamos uma série de serviços de pesquisa e análise, à fim de contribuir para os rumos da sua empresa ou instituição.<br>
                    Abaixo você poderá agendar uma reunião conosco para saber mais sobre os serviços.
                </p>
    </div>
    
</div>

<section class= "container">
    <div class="flex-container">
        <div class="item">
            <h1>Análise de Conjuntura</h1>
            <h2>  pode lhe ajudar com <br> seus Artigos, não perca tempo!</h2>
            <a href="#"><input type="button" value="Agendar"></a>
        </div>
        <div class="item">
            <h1>Análise de Cenário</h1>
            <h2>A episteme international pode lhe ajudar com <br> seus projetos de pesquisa, não perca tempo!</h2>
            <a href="#"><input type="button" value="Agendar"></a>
        </div>
        <div class="item">
            <h1>Análise de Risco e Viabilidade</h1>
            <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
            <a href="#"><input type="button" value="Agendar"></a>
        </div>
        <div class="item">
            <h1>Análise Setorial</h1>
            <h2> </h2>
            <a href="#"><input type="button" value="Agendar"></a>
        </div>
        <div class="item">
            <h1>Análise de Mercado Nacional</h1>
            <h2>A episteme international pode lhe ajudar com <br> seus Portfólios, não perca tempo!</h2>
            <a href="#"><input type="button" value="Agendar"></a>
        </div>
        <div class="item">
            <h1>Análise de Mercado Internacional</h1>
            <h2>A episteme international pode lhe ajudar com <br> seu TCC, não perca tempo!</h2>
            <a href="#"><input type="button" value="Agendar"></a>
        </div>
        <div class="item">
            <h1>Palestras (presenciais e virtuais)</h1>
            <h2>Oferecemos palestras para sua classe e para<br> sua empresa. Agende uma reunião conosco<br> para discurtirmos os tópicos!</h2>
            <a href="#"><input type="button" value="Agendar"></a>
        </div>
        <div class="item">
            <h1>Treinamentos (presenciais e virtuais)</h1>
            <h2>Oferecemos treinamentos para você e para sua empresa.<br> Agende uma reunião conosco<br> para discurtirmos os tópicos!</h2>
            <a href="#"><input type="button" value="Agendar"></a>
        </div>
    </div>
    
</section>
