*{display:flex;
    flex-wrap: wrap;
    text-align: center;
}
.container{
    margin: 5%;
    max-width: 85%;
    height: 85%;
    justify-content: center;
    align-items: center;
}
.item {
	margin: 5px;
	background: #182a3a;
    border: 1px solid #7ED957;
	text-align: center;
	font-size: 30px;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    display: block;
    flex-basis:350px;
    
}

.item h1{
    color: #7ED957;
    font-size: 25px;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    display: block;
}
.item h2{
    font-size: 16px;
    color: aliceblue;
}
.item a{
    text-decoration: none;
    justify-content: center;
}
.container-flex {
	max-width: 100%;
	margin: 0 auto;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px;
}

.containertexto {
	max-width: 80%;
	margin: 0 auto;
    text-align: center;
    justify-content:space-evenly;
    margin-top: 10px;
}

.item input{
    width: 80px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #F3D653;
    color: #182a3a;
    border: 0;
    cursor: pointer;
    justify-content: center;
    
    
  }
  .item input:hover{
    background-color: #7ED957;
  }
  .titleserv{
    text-align: center;
    margin: 30px 150px;
    color: #f3d653;
  }
  
  .text1 p{
    color: #f2fcff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin: 10px;
  }