
<main>
    <!--Container Flex-->
    <div class="container">
        <!--Seção Quem Somos-->
        <section class="quem-somos">
            <!--Container Título -->
            <div class="title1">
                <h1>QUEM SOMOS</h1>
            </div>
            <!--Container texto-->
            <div class="text1">
                <p>A Episteme International (EI) nasceu com o propósito de facilitar o diálogo entre os setores
                    acadêmico e profissional. A forma de atuação da EI busca dinamizar o nicho de cursos online, e
                    ampliar a acessibilidade dos treinamentos para aqueles estudantes e empresários que precisam de
                    capacitação.</p><br>
            <div class="title1"><h1>Missão</h1></div>
            <br>
                <p>A missão da EI é possibilitar a todos os setores econômicos, políticos e sociais a oportunidade
                    de crescimento com o conhecimento de Relações Internacionais e em Ciências Sociais.</p><br>

            <div class="title1"><h1>Visão</h1></div>
            <br>
                <p>A visão da EI é ser a maior referência nacional em estudo e treinamentos para profissionais e
                    acadêmicos com interesse em Relações Internacionais e de Ciências Sociais. Os valores da EI são
                    o respeito a opinião do outro, a empatia, a pesquisa técnica, a adaptabilidade, a excelência e a
                    solução para o cliente.</p>
            </div>
        </section>
        <!--Seção quem somos-->
        <section class="team">
            <!--Título da seção-->
            <h1>Nossa Equipe</h1>
            <!--Flex container-->
            <div class="containerteam">
                <!--Div à esquerda-->
                <div class="item">
                    <div class="photo">
                        <img class="photo" src="/assets/imagens/bruno.jpeg" alt="prof Bruno">
                    </div>
                    <!--conteúdos-->
                    <div class="content">
                        <p>Prof Msc. Bruno Veillard</p>
                        <p>Diretor executivo</p>
                        <p>Graduação em Relações Internacionais</p>
                        <p>e Mestrado em Sociologia Política</p>
                    </div>
                    <!--icones sociais-->
                    <div class="svg-icons">
                        <a href="https://www.linkedin.com/in/brunoveillard"><img src="/assets/imagens/linkedin.svg" alt="linkedin" class="linkedin"></a>
                        <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4339654D2&tokenCaptchar=03ANYolqsvEbGGGMgiNtIT5UM1XcBc7PNnKs011-FJoAQFfUtKYow425rQTzfPru6OBvJnUzSW2KZmhM1UWS6PGNnPI2iraXirFtMoeWM3Mk-u92s4PWBeGzsaOLRfb38UBWBVWN1JGhoRfgrfh54vQsJWzv-J2XEhPVnvxDpdoAuL1-CFp-F8qWGcc5FnT3fmwokRTVjhohgWrxCYHFtVT9YqEAHMyjgX0w97sqXZKPRI_DamimPCHATA82PycO-EWE0bIN9CNPqZHyEhOHbDmhBMp9PXkTjJn6FRASLVoDMWQsxMaKEm9BABDbrN2pBkExlySDRu78s_tj4dyUq8ku-EFqqr-N54MPJd7zN-Myc-gWpmHsUDfHSwmd6MWDiXu5O587DqdO7uC-TKp6F824BByY2_Dr2zfRsNMuQLgU-3Ji8Hg20anogR-7tpBc6Po1BnMNvn9HAb_6v9sPgnpbi35C4PsTbVTJc-qDpFZvcbJE5PCeH5FU3Ozj6nHadJACSrZoCtllXO8lxebtcODrl0g8yMVY0CDNFrviYqI7rIaINUo4nxHiyV9cdjYJwkWdOdi5Rsk53jmP0lBH4IUlri9jsRZzhmsceTLGenoTNvFQBnk4JYj6I"><img src="/assets/imagens/lattes-new.svg" alt="lattes" class="lattes"></a>
                    </div>
                </div>
                <!--div ao centro-->
                <div class="item">
                    <div class="photo">
                        <img class="photo" src="/assets/imagens/Dara.jpeg" alt="prof Bruno">
                    </div>
                    <!--conteúdos-->
                    <div class="content">
                        <p>Dara Peralta</p>
                        <p>Gerente Comercial</p>
                        <p>Graduação em Relações Internacionais</p>
                        
                    </div>
                    <!--icones sociais-->
                    <div class="svg-icons">
                        <a href="https://www.linkedin.com/in/dara-peralta-3b1131200" target="_blank" rel="noopener"><img src="/assets/imagens/linkedin.svg" alt="linkedin" class="linkedin"></a>
                        <a href="#" target="_blank" rel="noopener"><img src="/assets/imagens/lattes-new.svg" alt="lattes" class="lattes"></a>
                    </div>
                </div>
                <!--div ao centro-->
                <div class="item">
                    <div class="photo">
                        <img class="photo" src="/assets/imagens/Dani.jpeg" alt="prof Bruno">
                    </div>
                    <!--conteúdos-->
                    <div class="content">
                        <p>Daniele Siqueira</p>
                        <p>Secretária</p>
                        <p>Graduação em Relações Internacionais</p>
                        
                    </div>
                    <!--icones sociais-->
                    <div class="svg-icons">
                        <a href="https://www.linkedin.com/in/daniele-siqueira"><img src="/assets/imagens/linkedin.svg" alt="linkedin" class="linkedin"></a>
                        <a href="#"><img src="/assets/imagens/lattes-new.svg" alt="lattes" class="lattes"></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
