<main class="signup">
    <img src="/assets/imagens/Logo.png" alt="logo" draggable="false">
    <form action="">
        <h2>Criar Conta</h2>
        <label for="nome" class="">Nome:</label>
        <input required type="text" class=" {{ field_form}}" id="name" name="name" aria-describedby="Name"
            [(ngModel)]="dados.name">

        <label for="email">E-mail:</label>
        <input required type="email" class=" {{ field_form}}" id="email" name="email" aria-describedby="email"
            [(ngModel)]="dados.email">

        <label for="senha">Senha:</label>
        <input required type="password" class=" {{ field_form}}" id="password" name="password"
            aria-describedby="Password" [(ngModel)]="dados.password">
        <br>
        <p>Já é cadastrado? <a routerLink="/login">Login aqui!</a></p>
        <p>Esqueceu a senha? <a routerLink="/resetsenha" target="_blank">Clique aqui!</a></p>
        <button type="button" class="" (click)="criar()">Criar</button>
    </form>
    <br>
</main>