
<div class="container">
    <div class="titleserv">
        <h1>ORIENTAÇÃO</h1>
    </div>

    <div class="text1">
                <p>EI disponibiliza uma orientação personalizada para auxiliar você a alcançar seu objetivo acadêmico. Assessoramos no desenho da pesquisa, na busca bibliográfica, na correção de formatação, e revisão textual e ortográfica. Acompanhamos a produção do texto do inicio até sua entrega.
                Temos o atendimento exclusivo para você que deseja ingressar no mestrado acadêmico ou profissional. Contribuímos no mapeamento de instituições, seleção dos melhores editais, e orientação para seu projeto.
                </p>
                <p>Abaixo você poderá agendar uma reunião conosco para saber mais sobre os serviços.</p>
    </div>
    
</div>
        
    <app-agendarservicos></app-agendarservicos>
    <br>

