<body>
    <main>
        <!--TEXTO DE INTRODUÇÃO-->
        <section class="intro">
            <p>
                Com a globalização a necessidade de acesso a mercados nacionais e internacionais teve uma transformação,
                pois o
                paradigma de uso de papel, telefone e fax sofreu redução com o avanço da internet, e-mail e redes
                sociais. A
                dinâmica econômica precisou adaptar-se a realidade e reinventar-se com novas estratégias de vendas,
                marketing e de
                inserção de produtos para conquistar a atenção dos clientes.
            </p>
        </section>
        <!--Carousel-->
        <div class="container">
            <!--padrão da biblioteca glidejs-->
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide"><img src="/assets/imagens/slider1.jpg" alt=""></li>
                        <li class="glide__slide"><img src="/assets/imagens/slider2.jpg" alt=""></li>
                        <li class="glide__slide"><img src="/assets/imagens/slider3.jpg" alt=""></li>
                        <li class="glide__slide"><img src="/assets/imagens/slider4.jpg" alt=""></li>
                        <li class="glide__slide"><img src="/assets/imagens/slider5.jpg" alt=""></li>
                        <li class="glide__slide"><img src="/assets/imagens/slider6.jpg" alt=""></li>
                    </ul>
                </div>
                <!--setas-->
                <div class="glide__arrows" data-glide-el="controls">
                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"></button>
                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"></button>
                </div>
            </div>
        </div>
    </main>
    <!--link da biblioteca glidejs-->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <!--script para configurar o carousel-->
    <script>
        const config = {
            type: 'carousel',
            perView: 2,
            breakpoints: {
                800: {
                    perView: 1
                }
            }
        };
        new Glide('.glide', config).mount()
    </script>
    </body>
    
